:root {
    --background-color: #000000;
    --header-footer: #1B1B1B;
    --background: #353839;
    --text-color: #F2F3F4;
    --text-hover: #0f5416;
    --text-light: #0d7911;
    --font-size-h1: 3rem;
    --font-size-h2: 2rem;
    --font-size-h3: 1.8rem;
    --font-size-h4: 1.4rem;
    --font-size-p: 1.2rem;
    --border-blue: #271958;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 24px;
}

.left-nav {
    display: flex;
    align-items: center;
    gap: 24px;
}

.nav-logo img {
    height: 50px;
    width: 50px;
}

.nav-link {
    text-decoration: none;
    color: var(--text-color);
}

.nav-link_brand {
    text-decoration: none;
    color: var(--text-color);
}

.nav-bar {
    display: flex;
    align-items: center;
    gap: 24px;
}

.main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 24px;
    gap: 36px;
}

.info-section {
    color: var(--text-color);
    background-color: transparent;
    padding: 36px;
    line-height: 1.4;
    border: 5px solid var(--text-hover);
    text-align: center;
}

.info-section h3 {
    font-size: var(--font-size-h3);
    text-align: center;
    text-decoration-line: underline;
    margin-bottom: 16px;
}

.info-section p {
    font-size: var(--font-size-p);
}

.info-section button {
    width: 100%;
    padding: 8px;
    font-size: var(--font-size-p);
}

.info-text {
    margin-bottom: 36px;
}

.contact-section {
    color: var(--text-color);
    background-color: transparent;
    border: 5px solid var(--text-hover);
    padding: 36px;
    line-height: 1.4;
}

.contact-section h3 {
    font-size: var(--font-size-h3);
    text-align: center;
    margin-bottom: 16px;
    text-decoration-line: underline;
}

.contact-form {
    margin-bottom: 36px;
    font-size: var(--font-size-p);
}

.contact-section input,
.contact-section textarea,
.contact-section button {
    padding: 8px;
    width: 100%;
    font-size: var(--font-size-p);
}

.contact-section button {
    font-size: var(--font-size-p);
}






.footer {
    background-color: #F2F3F4;
    padding: 24px;
}

@media screen and (min-width: 800px) {
    .main-content {
        display: flex;
        flex-direction: row;
        gap: 0;
        justify-content: center;
        margin: 36px;
    }

    .info-section {
        width: 100%;
        background-image: url(./images/Untitled.png);
        background-size: cover;
    }

    .info-section h3 {
        text-decoration: none;
    }

    .info-section button {
        width: 50%;
        transition: 0.3s ease;
    }

    .info-text {
        transition: 0.3s;
    }

    .info-text:hover {
        background-color: var(--text-light);
        background: rgba(51, 170, 51, .5);
    }

    .contact-section {
        width: 100%;
    }

    .contact-section h3 {
        text-decoration: none;
        margin-bottom: 36px;
    }

    .contact-section button {
        width: 50%;
        display: block;
        margin: 24px auto 0;
        transition: 0.3s ease;
    }

    
    button:hover {
        background-color: var(--text-hover);
        color: white;
    }
}