:root {
    --background-color: #000000;
    --header-footer: #1B1B1B;
    --background: #353839;
    --text-color: #F2F3F4;
    --text-hover: #0f5416;
    --text-light: #0d7911;
    --font-size-h1: 3rem;
    --font-size-h2: 2rem;
    --font-size-h3: 1.5rem;
    --font-size-h4: 1rem;
    --font-size-h5: 0.8rem;
    --font-size-p: 0.8rem;
    --border-blue: #271958;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 24px;
}

.left-nav {
    display: flex;
    align-items: center;
    gap: 24px;
}

.nav-logo img {
    height: 50px;
    width: 50px;
}

.nav-link {
    text-decoration: none;
    color: var(--text-color);
}

.nav-link_brand {
    text-decoration: none;
    color: var(--text-color);
}

.nav-bar {
    display: flex;
    align-items: center;
    gap: 24px;
}

.main-content {
    flex-grow: 1;
}

.intro-container {
    background-image: url(./images/Hacker-Cyber-Security-Internet-Sectricity\ \(1\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
}



.intro-container h1 {
    font-size: var(--font-size-h1);
}
.intro-container h2 {
    font-size: var(--font-size-h2);
}

.intro-text {
    color: var(--text-color);
    text-align: left;
    position: relative;
    top: -70px;
}

.tenace {
    color: #0e9513;
}

.footer {
    padding: 1px;
    display: flex;
    text-align: center;
    align-items: center;
    background-color: white;
}


.footer img {
    height: 50px;
    width: 50px;
}



@media screen and (min-width: 800px) {


    .intro-container {
       height: 100vh;
    }

    .intro-container h1 {
        font-size: 5rem;
        margin-left: 24px;
    }

    .intro-container h2 {
        font-size: 3.5rem;
        margin-left: 24px;
    }
    
}